# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.pyc

# Archivos de base de datos (si no quieres subir tienda.db)
instance/*.db

# Configuración de IDEs (opcional)
.vscode/
.idea/

# Archivos del sistema
.DS_Store
**/.DS_Store  # Ignora también en subcarpetas
