{% extends 'base.html' %}
{% block title %}Panel de Administrador{% endblock %}

{% block content %}
<h2>Bienvenido, Administrador {{ current_user.username }}</h2>

<ul>
  <li><a href="{{ url_for('main.listar_productos') }}">Ver productos</a></li>
  <li><a href="{{ url_for('main.registrar_producto') }}">Registrar nuevo producto</a></li>
  <li><a href="{{ url_for('main.listar_proveedores') }}">Ver proveedores</a></li>
  <li><a href="{{ url_for('main.registrar_proveedor') }}">Registrar proveedor</a></li>
  <li><a href="{{ url_for('main.listar_ventas') }}">Ver ventas registradas</a></li>
  <li><a href="{{ url_for('main.estadisticas') }}">Estadísticas de Ventas</a></li>
  <li><a href="{{ url_for('main.estadisticas_mensuales') }}">Ventas Mensuales</a></li>
  <li><a href="{{ url_for('main.estadisticas_beneficios') }}">Comparativa Precios vs Costos</a></li>
  <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
</ul>
{% endblock %}
